.feedback_calligraphy2 {
    overflow: hidden;
    white-space: nowrap;
}

.slideshow-container2 {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

.slideshow-content2 {
    display: flex;
    animation: scroll2 10s linear infinite;
}

.feedback_calligraphy_detail2 {
    display: inline-block;
    margin: 20px;
}

.feedback_calligraphy_detail2 img {
    width: 300px;
    height: 200px;
}

@keyframes scroll2 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
