.latest_articles{
    width: 1200px;
    margin: 0 auto;
}
.latest_articles h5{
    margin: 20px 10px;
    text-align: center;
}
.articles{
    width: 300px;
}
.articles img{
    width: 300px;
    height: 150px;
    border-radius: 5px;
}
.lastest_detail{
    display: flex;
    justify-content: space-around;
}
.articles a{
    text-decoration: none;
    color: black;
}