.top10_calligraphy {
    width: 1200px;
    margin: 0 auto;
}

.top10_calligraphy h4 {
    margin-top: 20px;
}

.swiper-container {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    width: 220px;
    margin: 10px; 
}

.top10_card_calligraphy {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.top10_card_calligraphy img {
    width: 100%;
    height: 220px;
    border-radius: 10px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.top10_card_calligraphy:hover img {
    transform: scale(1.1); 
    filter: brightness(50%);
}
.text-overlay {
    position: absolute;
    top: 5px;
    left: 10px;
    color: #000000;
    text-align: center;
    font-size: 18px; 
    z-index: 1;
}

.swiper-button-next, .swiper-button-prev {
    color: #000; 
}
/* CSS cho phần overlay */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: none;
}

/* CSS cho khung thông tin ảnh */
#image-info-box {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1001;
    display: none;
    text-align: center;
}

#image-info-box img {
    max-width: 100%;
    height: auto;
}

/* Nút đóng */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}